// Colours
$color-green: #3CB44A;
$color-orange: #F47F20;
$color-red: #E74C3C;
$color-black: #313131;
$color-gray: #707070;
$color-bluelight: #F5F6F7;
$color-white: #FFFFFF;

// Fonts
$font-size-600: 40px;
$font-size-500: 22px;
$font-size-400: 18px;
$font-size-300: 14px;
$font-size-200: 12px;
$font-size-100: 10px;

$font-primary: Quicksand;